.title{
    margin-top:50px;
    text-align:center;
    font-size:24px;
}
.input_box{
    text-align:center;

}
.input_box>input{
    width: 400px;
    height: 40px;
    margin-top:20px;
    font-size:16px;
    text-indent:10px;
    box-sizing: border-box;
    display:inline-block;
}
.btn_box{
    cursor: pointer;
    width: 102px;
    height: 40px;
    line-height: 40px;
    border: 0;
    background: none;
    background-color: #38f;

    font-size: 16px;
    color: white;
    box-sizing: border-box;
     display:inline-block;
}
.info{

}
.info_medicine_title{
    text-align:center;
    padding-top:20px;
}
.info_list{
    width: 800px;
    margin: 0px auto;
    padding:0px 0 50px;
}
.info_list>li{
    list-style: none;
    line-height: 30px;
    font-size:16px;
}
.info_list_propertyName{
   font-weight: 700;
}
.suggest_list{
    //background:red;
    border:1px solid #888;
    width:502px;
    // height:400px;
    margin:0 auto;
    //overflow: scroll;
     list-style: none;
     padding:0px;
     display:none;
}
.suggest_list>li{
    padding-left:15px;
}
.suggest_list>li:hover{
    background:blue;
    color:#fff;
    cursor:pointer
}